.contact_form{
  margin: 20px 0;
}
label {
  display: block;
}
h6{
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}


.err {
  margin-top: -1.3em;
  background: #ffff99; /* light yellow */
  color: red;
  padding: 0.5em;
  display: inline-block;
  margin-bottom: 1.3em;
}
.required::after { content: "*"; display: inline; color: red; font-weight: bold; }

.finalresults {
  border-radius: 10px;
  border: 2px solid #dc9644;
}

input[type=text], textarea {
  width: 50%;
  display: block;

}

input[type=reset], input[type=submit]{
  width: 300px;
  margin-top: 10px;
  padding: 10px 0px;
}

