
<div class="home_container">
  <div class="home_description">
    <div class="description">
      <h2>Grocery <br>done just <br>in 5 minutes</h2>
      <p>
        Nuty is  a grocery automation service that takes care of the shopping, delivery, and even meal-planning. We learn about your habits, plan your orders, and help you figure out what’s for dinner.
      </p>

    </div>


  <div class="home_image">
    <img src="assets/nuts.jpg" alt="bunch of Nuts almonds cashew walnuts on the home page Nuty grocery store" width="400" height="auto" >
  </div>
  </div>
  <div class="get_started">
    <a routerLink="/products" class="nav-item nav-link ">Get Started</a>
  </div>
  <p><a routerLink="/contact" >Contact Us</a> if you have any question </p>

</div>
